<div class="govuk-width-container">
    <div class="govuk-phase-banner">
        <div class="govuk-header__navigation--end">
            <div>
                <span class="your-name" id="bannerUserName">User name</span>
                <a class="account-link" href="/your-account/home/signout" id="signout-link">Sign out</a>
            </div>
            <div>
                <a class="account-link" href="/your-account/home" id="myaccount-link">Your account</a>
            </div>
        </div>
    </div>
</div>
