@using System.Security.Claims
@model DFC.App.Account.ViewModels.CompositeViewModel

@if (User.Identity.IsAuthenticated)
{
    <div class="govuk-width-container">
        <div class="govuk-phase-banner">
            <div class="govuk-header__navigation--end">
                <div>
                    <span class="your-name" id="bannerUserName">@Model.Name</span>
                    <a class="account-link" href="/your-account/home/signout" id="signout-link">Sign out</a>
                </div>
                <div>
                    <a class="account-link" href="/your-account/home" id="myaccount-link">Your account</a>
                </div>
            </div>
        </div>
    </div>
}