@model DFC.App.Account.ViewModels.CompositeViewModel

<div class="govuk-width-container">
    <govukPhaseBanner phase="Beta"></govukPhaseBanner>
</div>
<partial name="~/Views/Shared/_AuthBreadcrumbPartial.cshtml" />
