@using DFC.App.Account.ViewModels
@model DFC.App.Account.ViewModels.CompositeViewModel
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="https://nationalcareers.service.gov.uk/">Home</a>
        </li>
        @if (Model.ShowBreadCrumb)
        {
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/your-account">Your account</a>
            </li>
        }
    </ol>
</div>