@using DFC.App.Account.ViewModels
@model DFC.App.Account.ViewModels.CompositeViewModel
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="https://nationalcareers.service.gov.uk/">Home</a>
        </li>
      
            <li class="govuk-breadcrumbs__list-item">
                Error
            </li>
      
    </ol>
</div>