<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p>
            On 1 August 2019 we made changes to remove CVs and action plan documents. You will still be able to access your Skills health check results and manage your account details from this page.
        </p>
    </div>
</div>
