@using DFC.App.Account.ViewModels
@if (null == Model)
{
    <title>@CompositeViewModel.AppTitle</title>
}
else
{
    <title>@Model.PageTitle</title>
}
<link href="@Model.CompositeSettings.CDN/nationalcareers_toolkit/css/all.min.css" rel="stylesheet" type="text/css" />