@using DFC.App.Account.ViewModels
@model DFC.App.Account.ViewModels.SessionTimeoutCompositeViewModel
@if (null == Model)
{
    <title>@CompositeViewModel.AppTitle</title>
}
else
{
    <title>@Model.PageTitle</title>
}
<div class="govuk-main-wrapper govuk-main-wrapper--auto-spacing">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <govukHeadingH1 text="Your session has timed out"></govukHeadingH1>

            <p>
                We've signed you out for security reasons. <a href="@Model.SignInUrl">Sign in</a> again to continue.
            </p>

        </div>
    </div>
</div>