@model DFC.App.Account.ViewModels.HomeCompositeViewModel

<div class="govuk-main-wrapper ">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
               
                <govukHeadingH1 text="Your Account"></govukHeadingH1>
                <p>
                    On 1 August 2019 we made changes to remove CVs and action plan documents. You will still be able to access your Skills health check results and manage your account details from this page.
                </p>
                @*TODO: Add Inset text to CommonUI Library*@
                <div class="govuk-inset-text">
                    If you need further help or advice, you can speak to a careers adviser by calling 0800 100 900
                </div>
                <govukHeadingH3>Skills health checks</govukHeadingH3>
            </div>
            <div class="govuk-grid-column-one-third">
                <div class="app-related-items">
                    <govukHeadingH3 text="Manage your account"></govukHeadingH3>
                    @*TODO: Add basic list to CommonUI Library*@
                    <ul class="govuk-list">
                        <li>
                            <a class="govuk-!-font-size-16" href="/your-account/your-details" target="_self">Your details</a>
                        </li>
                        <li>
                            <a class="govuk-!-font-size-16" href="/your-account/change-password" target="_self">Change your password</a>
                        </li>
                        <li>
                            <a class="govuk-!-font-size-16" href="/your-account/close-your-account" target="_self">Close your account</a>
                        </li>
                    </ul>
                </div>
                <div class="app-related-items">
                    <govukHeadingH3 text="Want to speak to an adviser?"></govukHeadingH3>
                    <p class="govuk-body">
                        <span class="govuk-!-font-weight-bold">Call </span>
                        0800 100 900 or
                        <br/>
                        <a href="https://nationalcareers.service.gov.uk/webchat/chat/">use webchat</a>
                    </p>
                    <p class="govuk-caption-m govuk-!-font-size-16">8am to 10pm, 7 days a week</p>
                </div>
            </div>
        </div>
    </div>
</div>
