@using DFC.App.Account.ViewModels
@model DFC.App.Account.ViewModels.HomeCompositeViewModel



<div class="govuk-main-wrapper ">

    <div class="govuk-width-container">
        <div class="govuk-grid-row">

            <h1>Your Account</h1>

        </div>
    </div>
</div>
