@model DFC.App.Account.ViewModels.ConfirmDeleteCompositeViewModel


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <govukHeadingH1 text="@Model.PageHeading"></govukHeadingH1>
    </div>
</div>