@using DFC.App.Account.ViewModels
@model DFC.App.Account.ViewModels.CloseYourAccountCompositeViewModel
@if (null == Model)
{
    <title>@CompositeViewModel.AppTitle</title>
}
else
{
    <title>@Model.PageTitle</title>
}
<div class="govuk-main-wrapper govuk-main-wrapper--auto-spacing">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">Account closed</h1>
                <div class="govuk-panel__body">

                </div>
            </div>
            <p>You have successfully closed your account.</p>
            <p>
                You can still use the <a href="https://nationalcareers.service.gov.uk/">National Careers Service website</a> for careers information, advice and guidance.
            </p>

        </div>
    </div>
</div>