@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, DFC.Personalisation.CommonUI
@model DFC.App.Account.ViewModels.CompositeViewModel
<div class="app-related-items">
    @Html.Raw(Model.SharedSideBar)
</div>