@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model DFC.App.Account.ViewComponents.Row.RowModel

<tr class="govuk-table__row">
    <td class="dfc-app-actionplans-table-one-third">
        <govukLabel id="@Model.Label" text="@Model.Label" for="Identity_PersonalDetails_@Model.Label"></govukLabel>
    </td>
    <td class="dfc-app-actionplans-table-two-third">@Html.Raw(Model.LabelValue)</td>
</tr>